body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    padding: 20px;
    background-color: slateblue;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  #recipe-list div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  #recipe-detail {
    margin-top: 20px;
    padding: 10px;
    background: #eef;
    border-radius: 5px;
  }
  
  form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }
  h1{
    border: 2px solid slateblue;
    background-color: bisque;
    box-shadow: red;

  }
  h2{
    border: 2px solid darkkhaki;
    background-color: hotpink;
    border-radius: 5px;
  }
  